body {
  background-color: #DFE7FF;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.Weather {
  background-color: #F0F7E0;
  border: 2px solid #235104 ;
  border-radius: 10px;
  box-shadow: rgba(51, 41, 41, 0.9);
  font-family: Arial, Helvetica, sans-serif;
  padding: 16px;
  opacity: 75%;
}
.Weather form {
  margin-bottom: 20px;
}
.form-control {
  opacity: 60%;
  background-color: #85ecf1;
  border-color: #4b2c7c;
}
.btn-secondary {
  background-color: #64c23a;
  border-color: #235104;
  color: #fef5b4;
  font-weight: bold;
}
.Weather h1 {
  font-size: 30px;
  font-weight: 100;
  line-height: 29px;
}
.Weather ul {
  margin: 50;
  padding: 0;
}
.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}
canvas {
  margin-right: 10px;
  position: relative;
  top: 10px;
}
.weather-temp {
  font-size: 60px;
}
.weather-unit {
  font-size: 20px;
  position: relative;
  top: -28px;
}